./BSI-CS_022.pdf
./Bachelor Entwurf.docx
./Beispiele_fuer_Abschlussarbeiten_zur_Orientierung/
./Einverstaendniserklaerung/
./"Expose BA Benjamin M\303\274ller.docx"
./"Expose Bachelor Arbeit Benjamin M\303\274ller.pdf"
./LateX/
./Quellen/
./termin_app_projekt/__pycache__/
./termin_app_projekt/templates/login/
./termin_app_projekt/termin_app/__pycache__/
./termin_app_projekt/termin_app/migrations/
./termin_app_projekt/termin_app_projekt/__pycache__/