# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Info\BachelorArbeit\termin_app_projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/termin_app_projekt.iml
/vcs.xml
